* {
    font-family: 'Quattrocento Sans', sans-serif;
}

body {
    background-color: #ddd;
}

.bgwidth { width: 100%; }

.bgheight { height: 100%; }

.carousel-caption {
    top: 5%;
}

.signup_page_form {
    background: none repeat scroll 0 0 #fcfaf2;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding: 40px 20px 10px 20px;
    border-radius: 4px;
    text-align: right;
    text-shadow: none;
}


.veed-findoutmore {
    margin-top: 5%;
}

.corner-caption {
    color: #fff;
    position: absolute;
    bottom: 1%;
}

.veed-body {
    padding-top: 50px;
}

.thumbnail {
    background-color: inherit;
}

.img-thumbnail {
    background-color: inherit;
}

.veed-footer {
    margin-top: 1%;
    margin-bottom: 15%;
}
